

@media only screen and (min-width : 320px){

    a {
        text-decoration: none;
    }
      
    .headerNav {
          background: #0D052E;
         
    }

    .desktopView {
        display: none;
    }

    .navLink {
        background: #CDA253;
        min-width: 40.7em;
        min-height: 8.75em;	
        position: absolute;
        top: 100%;
        bottom: 0;
        left: -120%;
        right: 0;
        z-index: 10;
    }

    .nav-item {
        margin-left: 29em;
    }

    nav .navbar-nav li a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        color: #FFFFFF;
        /* margin-right: 8em; */
    }

                /* CAROUSEL SECTION */
    
    .carousel-inner {
        display: inline-block;
        position: relative;
    }

    .carousel-inner {
        padding-top: 43.25%;
        display: block;
        content: "";
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    
        background: no-repeat right right scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: left;
    }
    
    .carousel-item:after {
        content:"";
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        /* box-shadow: inset 0 0 0 125em, rgba(13, 5, 46, 0.11); */
        background: linear-gradient(to right,  #0D052E 5.23%, rgba(13, 5, 46, 0.9) 38.97%, rgba(13, 5, 46, 0.11) 67.73%, rgba(13, 5, 46, 0) 92.44%); 
        background-position: left;
        }
    
    .carousel-img {
        width: 100%;
    }
    
    .caption {
        position: absolute;
        top: 50%;
        right: 30%;
        left: 30%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        z-index: 1;
        margin-top: 3em;
        text-align: right;
    }

    .caption h1 {
        margin-bottom: 1.4375em;
        font-family: 'Norican';
        font-style: normal;
        font-weight: normal;
        font-size: 1.2em;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .caption button {
        margin: 0 3.5em 8em 0;
        padding: .2em 1em;
        font-size: .8em;
        background: #CDA253;
    }  

                /* school description */
     
    .school-description {

        background: #F3F3F3;
            
    }

    .description-text {
        margin: 0 3em;
        padding: 2em 0;
    }

    .violin-img.descritionMobile{
				display: none;
				
		}
		
		.SchoolDescriptionDesktopView P{
			display: none;
		}

    .school-description {
        
        background:url(./imgs/violin.png), linear-gradient(rgba(243,243,243),rgba(243,243,243));
        background-size: cover;
        background-position: cover;
        background-blend-mode: overlay;
    } 

    .school-name {
        font-family: 'Milonga', cursive;
        text-align: center;
        font-size: 1em;
        font-style: normal;
        font-weight: normal;
        line-height: 1.8em;
        letter-spacing: 0.11em;
        color: #CDA253;
    }
      
    .about-school {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 2em;
        color: #000000;
    }

                /* Music-classes */

    .training-classes {

        text-align: center;
        padding-top: 3em;
    }	
        
    .classes {
        
        font-family: 'Milonga', cursive;
        font-size: 1.5em;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.11em;
        color: #CDA253;
        
    }
        
    .training-niche {
        
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .6em;
        line-height: 3.625em;
        letter-spacing: 0.11em;
        color: #000000;
        padding: 0 2em;
        
    }
        
    .music-instruments {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
        
    }
        
    .instrument {
        width: 5.5067em;
        margin-top: 1.5em;	
        
    }
        
    .instrument-container {
        text-align: center;
        justify-content: center;
        border:  0.125em solid #CCCCCC;
        border-radius: 50%;
        width: 9.625em;	
        height: 9.625em;
        margin: 0 0 0 1em;
    }
        
    .musical-text {
        margin: 0 4em;
    }
        
    .instrument-text {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 2em;
        text-align: center;
        padding: 0 1em;
    }

                    /* Tutors-Section */

    .Tutors-section {

        background: #F5F4F4;
        padding: 2em 1em 1em 1em;
    }

    .meetTutors {
        text-align: center;
    }

    .meetTutors h6 {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        margin-top: 1em;
    }

    .pictures {
        width: 15em;
        margin-left: -2em;
    }

    .tutors-description {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr));
        grid-gap: 3.125em;
        text-align: center;
        margin: 3em;
    }
    
    .name {
        font-family: 'Krub' sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        /* margin-top: .1em; */
        text-transform: uppercase;
        color: #000000;
    }
    
    .duty {
        font-family: 'Krub' sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 1em;
        color: #000000;
    } 
    
    .fullBio-pageLink {
        text-align: center;	
    }
    
    .bio {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        letter-spacing: 0.11em;
        text-decoration: none;
    }

                 /* CONTACT SECTION */
  
    .contact {
        min-height: 100%;
        background:url(./imgs/mic.png);
        background-size:contain;
        /* background-position: cover; */
        box-shadow: inset 0 0 0 100em rgba(205, 162, 83, 0.92);
        text-align: center;

    } 

    .contact-heading {
  
        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5em;
        letter-spacing: 0.11em;
        color: #FFFFFF;
        padding-top: .8em;
    }
    
    .music-love{
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: .8em;
        padding-top: .8em;
        color: #000000;
        
    }
    
    .location {
        position: absolute;
        width:	25.1875em;
        height:	26.125em;
        left: 18.4375em;
        top: 210.0625em;
        z-index: 1;
        background: #CDA253;
        padding: 4em 0 0 0;
    }
    
    .location-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .address-heading {
    
        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size:	1.2em;
        margin: .5em 0 .2em .2em;
        color: #F3F3F3;
    }

    .address {
  
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        /* line-height: 1.4375em; */
        padding: 0 0 3em ;
        text-align: center;
        color: #F3F3F3;
    }


                         /* FOOTER */
    footer {
        text-align: center;
        background: #F3F3F3;
    }

    .handlesContainer {
        margin: 2em 0;
    }

    .mediaIcon {
        background: #CDA253;
        border-radius: 50%;
        padding: .35em;
        margin: 0 1em;
    }

    /* .SocialMedia {
        width: .8em;
        margin-bottom: .2em;
    } */

    .facebook {
        width: .8em;
    }

    .SocialMedia{
        width: 1.2em;
        padding: 0 0 0 .2em;
    }

    .rights-reserve {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .6em;
        line-height: 1.0625em;
        color: #000000;
    }

     .copyright {
        font-size: 1em;
    }


                            
                        /* TUTORS_IMG SECTION */
    .allTutors {
        background: #FFFFFF;
    }

}




@media only screen and (min-width: 481px){
    
    .navLink {

        min-width: 10em;
        min-height: 11em;	
        position: absolute;
        right: -5%;
        
    }

    .nav-item {

        margin-left: 32em;
    }

    nav .navbar-nav li a {
        margin-top: 1em;
        font-size: 1em;
    }

                 /* CAROUSEL SECTION */

    .caption {
        position: absolute;
        top: 50%;
        right: 30%;
        left: 40%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        z-index: 1;
        text-align: right;
        margin-top: 3.5em;
        
    }

    .caption h1 {
        margin-bottom: 1em;
        font-family: 'Norican';
        font-style: normal;
        font-weight: normal;
        font-size: 1.5em;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

                    /* school description */
    
    .school-name {
       
        font-size: 1.5em;
        
    }

    .about-school {

        font-size: .9em;
        line-height: 2em;
       
    }

                /* Music-classes */

    .classes {
    
        font-size: 1.8em;
        
    } 

    .training-niche {
        
        font-size: .8em;   
    }
    
    .instrument-container {
    
        margin-left: 3em;
    }

    .instrument-text {

        font-size: .8em;
    
    }

                 /* Tutors-Section */

    .meetTutors h6 {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5em;
        margin-top: 1em;
    }

    .rights-reserve {
        font-size: 0.9em;
    
    }

    .copyright {
        font-size: 1.2em;
    }
}


@media only screen and (min-width: 641px) {
    
    .navLink {
        background: #CDA253;
        min-width: 20em;
        min-height: 11.5em;	
        position: absolute;
        top: 100%;
        bottom: 0;
        left: -120%;
        right: -5;
        z-index: 10;
        
    }

                    /* carousel section */

    .nav-item {

        margin-left: 38em;
    }

    nav .navbar-nav li a {
        margin-top: 1em;
        font-size: 1em;
    }

    .caption {
        position: absolute;
        top: 50%;
        right: 30%;
        left: 30%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        z-index: 1;
        margin-top: 3em;
        text-align: right;
    }

    .caption h1 {
        margin-top: .8em;
        font-family: 'Norican';
        font-style: normal;
        font-weight: normal;
        font-size: 1.8em;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .caption button {
        margin: 0 4em 8em 0;
        padding: .2em 1em;
        font-size: 1em;
        background: #CDA253;
    }  

                     /* Music-classes */

    .training-classes {

        text-align: center;
        padding-top: 3em;
    }	
        
    .classes {
        
        font-family: 'Milonga', cursive;
        font-size: 1.8em;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.11em;
        color: #CDA253;
        
    }
        
    .training-niche {
        
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 3.625em;
        letter-spacing: 0.11em;
        color: #000000;
        padding: 0 2em;
        
    }
        
    .music-instruments {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
        
    }
        
     .instrument {
        width: 3em;
        margin-top: .8em;

    }
        
    .instrument-container {
        text-align: center;
        justify-content: center;
        border:  0.125em solid #CCCCCC;
        border-radius: 50%;
        width: 5em;	
        height: 5em;
        margin: 0 0 0 2em;
    }

        
    .instrument-text {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .6em;
        line-height: 2em;
        text-align: center;
    
    }
    
    .musical-text {
        margin: 0 2em;
    }

                    /* Tutors Section */
    
    .pictures {
        width: 10em;
        /* margin-left: -2em; */
    }

    .tutors-description {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5em, 1fr));
        grid-gap: 3.125em;
        text-align: center;
        /* margin: 3em; */
    }

    .name {
        font-family: 'Krub' sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1em;
        margin-right: 1em;
        text-transform: uppercase;
        color: #000000;
    }
    
    .duty {
        font-family: 'Krub' sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: .7em;
        color: #000000;
        margin-right: 1em;
    } 

}

@media only screen and (min-width : 961px){
    .mobileView {
        display: block;
    }

    .desktopView {
        display: none;
    }

    a {
        text-decoration: none;
    }
      
    .headerNav {
          background: #0D052E;
         
    }

    .container {
        max-width: 100%;
    }
		
    .navLink {
        background: #CDA253;
        min-width: 20.8em;
        min-height: 20.8em;	
        position: absolute;
        top: 100%;
        bottom: 0;
        left: -120%;
		right: -2%;
		z-index: 10;
	}

    nav .navbar-nav li a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
		font-size: 2em;
		text-align: center;
        color: #FFFFFF;
        margin-left: 8em;
		}
		
		 						/* CAROUSEL SECTION */
    
	.carousel-inner {
		display: inline-block;
		position: relative;
	}

	.carousel-inner {
			padding-top: 43.25%;
			display: block;
			content: "";
	}

	.carousel-item {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
	
			background: no-repeat right right scroll;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			background-position: center;
	}
	
	.carousel-item:after {
			content:"";
			display:block;
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background: linear-gradient(to right,  #0D052E 30.23%, rgba(13, 5, 46, 0.9) 38.97%, rgba(13, 5, 46, 0.11) 67.73%, rgba(13, 5, 46, 0) 92.44%); 
			}
	
	.carousel-img {
			width: 100%;
	}
	
	.caption {
			position: absolute;
			top: 50%;
			right: 30%;
			left: 30%;
			transform: translateX(-50%) translateY(-50%);
			width: 50%;
			z-index: 1;
			margin-top: 3em;
			text-align: right;
	}

	.caption h1 {
			margin-bottom: 1.4375em;
			font-family: 'Norican';
			font-style: normal;
			font-weight: normal;
			font-size: 3em;
			text-align: center;
			letter-spacing: 0.06em;
			color: #FFFFFF;
	}

	.caption button {
			margin: 0 6em 8em 0;
			padding: .2em 1em;
			font-size: 1.3em;
			background: #CDA253;
	} 
	
	                    /* school description */
     
	.school-description {

		background: #F3F3F3;
				
    }

    .description-text {
		margin: 0 3em;
		padding: 2em 3em;
    }

    .descritionMobile {
		display: none;
    }

    .school-description {
		
		background:url(./imgs/violin.png), linear-gradient(rgba(243,243,243),rgba(243,243,243));
		background-size: contain;
		background-position: cover;
		background-blend-mode: overlay;
    }    

    .school-name {
		font-family: 'Milonga', cursive;
		text-align: center;
		font-size: 1.8em;
		font-style: normal;
		font-weight: normal;
		line-height: 1.8em;
		letter-spacing: 0.11em;
		color: #CDA253;
    }
	
    .about-school {
		font-family: 'Krub', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 1em;
		line-height: 2em;
		color: #000000;
    }

                     /* Music-classes */

    .training-classes {

        text-align: center;
        padding-top: 3em;
    }	
        
    .classes {
        
        font-family: 'Milonga', cursive;
        font-size: 1.8em;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.11em;
        color: #CDA253;
        
    }
        
    .training-niche {
        
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 3.625em;
        letter-spacing: 0.11em;
        color: #000000;
        padding: 0 2em;
        
    }
        
    .music-instruments {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
        
    }
        
    .instrument {
        width: 5.5067em;
        margin-top: 1.5em;	
        
    }
        
    .instrument-container {
        text-align: center;
        justify-content: center;
        border:  0.125em solid #CCCCCC;
        border-radius: 50%;
        width: 9.625em;	
        height: 9.625em;
        margin: 0 0 0 3em;
    }
        
    .musical-text {
        margin: 0 4em;
    }
        
    .instrument-text {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 2em;
        text-align: center;
        padding: 0 1em;
    }

    /* Tutors-Section */

    .Tutors-section {

        background: #F5F4F4;
        padding: 2em 1em 1em 1em;
    }

    .meetTutors {
        text-align: center;
    }

    .meetTutors h6 {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        margin-top: 1em;
    }

    .pictures {
        width: 15em;
        margin-left: -2em;
    }

    .tutors-description {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr));
        grid-gap: 3.125em;
        text-align: center;
        margin: 3em;
    }
    
    .name {
        font-family: 'Krub' sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        /* margin-top: .1em; */
        text-transform: uppercase;
        color: #000000;
    }
    
    .duty {
        font-family: 'Krub' sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 1em;
        color: #000000;
    } 
    
    .fullBio-pageLink {
        text-align: center;	
        padding-bottom: 2em;
    }
    
    .bio {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5em;
        letter-spacing: 0.11em;
        text-decoration: none;
       
    }

                     /* CONTACT SECTION */
  
    .contact {
        min-height: 100%;
        background:url(./imgs/mic.png);
        background-size:contain;
        /* background-position: contain; */
        box-shadow: inset 0 0 0 100em rgba(205, 162, 83, 0.92);
        text-align: center;

    } 

    .contact-heading {
  
        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5em;
        letter-spacing: 0.11em;
        color: #FFFFFF;
        padding-top: .8em;
    }
    
    .music-love{
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        padding-top: .8em;
        color: #000000;
        
    }
    
    /* .location {
        position: absolute;
        width:	25.1875em;
        height:	26.125em;
        left: 18.4375em;
        top: 210.0625em;
        z-index: 1;
        background: #CDA253;
        padding: 4em 0 0 0;
    } */
    
    .location-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .address-heading {
    
        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size:	1.5em;
        margin: .5em 0 .2em .2em;
        color: #F3F3F3;
    }

    .address {
  
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        /* line-height: 1.4375em; */
        padding: 0 0 3em ;
        text-align: center;
        color: #F3F3F3;
    }

                         /* FOOTER */
    footer {
        text-align: center;
        background: #F3F3F3;
    }

    .handlesContainer {
        margin: 2em 0;
    }

    .mediaIcon {
        background: #CDA253;
        border-radius: 50%;
        padding: .35em;
        margin: 0 1em;
    }

    /* .SocialMedia {
        width: .8em;
        margin-bottom: .2em;
    } */

    .facebook {
        width: 1.2em;
        padding: 0 .2em 0 .1em;
    }

    .SocialMedia{
        width: 1.2em;
        padding: 0 0 0 .2em;
    }

    .rights-reserve {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 1.0625em;
        color: #000000;
    }

     .copyright {
        font-size: 1em;
    }


                            
                        /* TUTORS_IMG SECTION */
    .allTutors {
        background: #FFFFFF;
    }

}

@media only screen  and (min-width : 1024px) {

    .desktopView {
        display: block;
        width: 100%;
    }

    .mobileView {
        display: none;
    }

    .headerNav {
        position: fixed;
        top: 0;
        bottom: 85%;
        left: 0%;
        right: 0;
        z-index: 10;
       
  }

    .navLink {
        background: none;
        min-width: 0;
        min-height: 0;	
        position: fixed;
        top: 0;
        bottom: 80%;
        left: 0%;
        right: 0;
        z-index: 10;
    }

    .nav-item {
        margin-left: 0;
    }

    nav .navbar-nav li a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        color: #FFFFFF;
        margin: 1em 0 1.5em 2em;
        /* padding: 0; */
    }

    .navLink {
        margin-left: 20em;
    }

                 /* CAROUSEL SECTION */

    .carousel-inner {
        padding-top: 48.25%;
        /* padding-bottom: 20%; */
        display: block;
        content: "";
    }

    .caption {
        position: absolute;
        top: 60%;
        right: 30%;
        left: 25%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        z-index: 1;
        /* margin-top: 3em; */
        text-align: right;
    }

    .caption h1 {
        margin-bottom: .6em;
        font-family: 'Norican';
        font-style: normal;
        font-weight: normal;
        font-size: 3.5em;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .caption button {
        margin: 0 8em 10em 0;
        padding: .2em .8em;
        font-size: 1.5em;
        background: #CDA253;

		}
		
		
                    /* school description */
	
    .SchoolDescriptionDesktopView P{
        display: block;
		background: #F3F3F3;
    }

    .descritionDesktop {
		display: flex;
		flex-direction: row;
		padding: 5em;

	}

	 .school-description{
		display: none;
	}

	.violin-img {
		height: 30.8125em;
		width: 20.0625em;
	}

	.nameDescriptionContainer {
		padding: 0 5em;
	}
/* 
	.allDescription {
		margin-top: 1em;
	} */

	.classes {     
		font-family: 'Milonga', cursive;
		font-size: 2em;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0.11em;
		color: #CDA253;
		
    }
    
                         /* Music-classes */

        
    .training-niche {
        
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 3.625em;
        letter-spacing: 0.11em;
        color: #000000;
        padding: 0 2em;
        
    }
        
    .music-instruments {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
        
    }
        
     .instrument {
        width: 4em;
        margin-top: 1.2em;

    }
        
    .instrument-container {
        text-align: center;
        justify-content: center;
        border:  0.125em solid #CCCCCC;
        border-radius: 50%;
        width: 7em;	
        height: 7em;
        margin: 0 0 0 2em;
    }

        
    .instrument-text {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 2em;
        text-align: center;
    
    }
    
    .musical-text {
        margin: 0 2em;
    }

                     /* Tutors Section */
    
    .pictures {
        width: 15em;
        /* margin-left: -2em; */
    }

    .tutors-description {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
        grid-gap: 3.125em;
        text-align: center;
        /* margin: 3em; */
    }

    .name {
        font-family: 'Krub' sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.2em;
        margin-right: 1em;
        text-transform: uppercase;
        color: #000000;
    }
    
    .duty {
        font-family: 'Krub' sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 1em;
        color: #000000;
        margin-right: 1em;
    } 

    .bio {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        letter-spacing: 0.11em;
        text-decoration: none;
    }

                     /* CONTACT SECTION */
  
    .contact {

        position: relative;
        background:url(./imgs/group_pics.png);
        box-shadow: inset 0 0 0 100em rgba(25, 39, 62, 0.88);
        background-size: cover;
        background-position: cover;
        background-blend-mode: overlay;
        text-align: center;
        min-height: 46em;

    } 

    .contactHead-container {
        margin-top: 1em;
    } 

    .contact-heading {

        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        letter-spacing: 0.11em;
        color: #CDA253;
        padding-top: 2em;
        

    }

    .music-love{
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        line-height: 1em;
        color: #F5F4F4;
        margin-bottom: 2em;

    }

    .location {
        position: absolute;
        width:	24.5875em;
        height:	29.525em;
        left: 14.6375em;
        top: 14.0625em;
        /* z-index: 1; */
        background: #CDA253;
        padding: 2em 0 4em 0;
    }

    .location-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .address-heading {

        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size:	1.375em;
        margin: .2em 0 .2em .2em;
        color: #F3F3F3;
    }

    .address {

        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125em;
        line-height: 1.4375em;
        padding: 0 0 3em ;
        text-align: center;
        color: #F3F3F3;
    } 
    
    .rockMic-Img {
        position: absolute;
        width: 20.0625em;
        height: 25.125em;
        left: 33.5em;
        top: 16.75em;
        filter: drop-shadow(4px 0px 45px rgba(255, 168, 0, 0.15)) drop-shadow(-5px 4px 44px rgba(0, 0, 0, 0.44));
        z-index: 5;
    }

                    /* FOOTER */
    footer {
        text-align: center;
        background: #F3F3F3;
    }

    .handlesContainer {
        margin: 2em 0;
    }

    .mediaIcon {
        background: #CDA253;
        border-radius: 50%;
        padding: .35em;
        margin: 0 1em;
    }

    /* .SocialMedia {
        width: .8em;
        margin-bottom: .2em;
    } */

    .facebook {
        width: 1.2em;
        padding: 0 .2em 0 .1em;
    }

    .SocialMedia{
        width: 1.2em;
        padding: 0 0 0 .2em;
    }

    .rights-reserve {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 1.0625em;
        color: #000000;
    }

    .copyright {
        font-size: 1em;
    }

}

@media only screen   and (min-width: 1440px){ 

    .headerNav {
        background: #0D052E;
        position: fixed;

    }

    nav .navbar-nav li a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        color: #FFFFFF;
        margin: 1em 0 1.5em 5em;
        /* padding: 0; */
    }

    .navLink {
        margin-left: 25em;
    }

   
                 /* CAROUSEL SECTION */
        
    .carousel-inner {
        display: inline-block;
        position: relative;
    }

    .carousel-inner {
        padding-top: 43.25%;
        display: block;
        content: "";
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        background: no-repeat right right scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: left;
    }

    .carousel-item:after {
        content:"";
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        /* box-shadow: inset 0 0 0 125em, rgba(13, 5, 46, 0.11); */
        background: linear-gradient(to right,  #0D052E 5.23%, rgba(13, 5, 46, 0.9) 38.97%, rgba(13, 5, 46, 0.11) 67.73%, rgba(13, 5, 46, 0) 92.44%); 
        background-position: left;
        }

    .carousel-img {
        width: 100%;
    }

    .caption {
        position: absolute;
        top: 50%;
        right: 30%;
        left: 30%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        z-index: 1;
        margin-top: 3em;
        text-align: right;
    }

    .caption h1 {
        margin-bottom: 1.4375em;
        font-family: 'Norican';
        font-style: normal;
        font-weight: normal;
        font-size: 5em;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .caption button {
        margin: 0 8em 8em 0;
        padding: .2em 1em;
        font-size: 2em;
        background: #CDA253;
    }  

                     /* school description */
	
	.SchoolDescriptionDesktopView {
		background: #F3F3F3;
	}

  .descritionDesktop {
		display: flex;
		flex-direction: row;
		padding: 10em;

	}

	.school-description{
		display: none;
	}

	.violin-img {
		height: 40.8125em;
		width: 30.0625em;
	}

	.nameDescriptionContainer {
		padding: 0 5em;
	}

	.allDescription {
		margin-top: 1em;
    }
    
    .school-name {
        font-family: 'Milonga', cursive;
        text-align: center;
        font-size: 2.5em;
        font-style: normal;
        font-weight: normal;
        line-height: 1.8em;
        letter-spacing: 0.11em;
        color: #CDA253;
    }

	.about-school {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2em;
        /* line-height: 2em; */
        color: #000000;
    }

                      /* Music-classes */

     .training-classes {

        text-align: center;
        padding-top: 3em;
    }	
        
    .classes {
        
        font-family: 'Milonga', cursive;
        font-size: 2em;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.11em;
        color: #CDA253;
        
    }
        
    .training-niche {
        
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 3.625em;
        letter-spacing: 0.11em;
        color: #000000;
        padding: 0 2em;
        
    }
        
    .music-instruments {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18.75em, 1fr));
        
    }
        
    .instrument {
        width: 5.5067em;
        margin-top: 1.5em;	
        
    }
        
    .instrument-container {
        text-align: center;
        justify-content: center;
        border:  0.125em solid #CCCCCC;
        border-radius: 50%;
        width: 9.625em;	
        height: 9.625em;
        margin: 0 0 0 2em;
    }
        
    .musical-text {
        margin: 0 4em;
    }
        
    .instrument-text {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 2em;
        text-align: center;
        padding: 0 1em;
    }

                      /* Tutors-Section */

      .Tutors-section {

        background: #F5F4F4;
        padding: 2em 1em 1em 1em;
    }

    .meetTutors {
        text-align: center;
    }

    .meetTutors h6 {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        margin-top: 1em;
    }

    .pictures {
        width: 20em;
        margin-left: -2em;
    }

    .tutors-description {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
        grid-gap: 3.125em;
        text-align: center;
        margin: 3em;
    }
    
    .name {
        font-family: 'Krub' sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5em;
        /* margin-top: .1em; */
        text-transform: uppercase;
        color: #000000;
    }
    
    .duty {
        font-family: 'Krub' sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 1em;
        color: #000000;
    } 
    
    .fullBio-pageLink {
        text-align: center;	
    }
    
    .bio {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5em;
        letter-spacing: 0.11em;
        text-decoration: none;
    }

                        /* CONTACT SECTION */
  
      .contact {

        position: relative;
        background:url(./imgs/group_pics.png);
        box-shadow: inset 0 0 0 100em rgba(25, 39, 62, 0.88);
        background-size: cover;
        background-position: cover;
        background-blend-mode: overlay;
        text-align: center;
        min-height: 55em;
        /* padding: 5em 0; */
    } 

    .contactHead-container {
        margin-top: 1em;
    } 

    .contact-heading {

        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 2.5em;
        letter-spacing: 0.11em;
        color: #CDA253;
        padding-top: 2em;
        

    }

    .music-love{
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.8em;
        line-height: 1em;
        color: #F5F4F4;
        margin-bottom: 2em;

    }

    .location {
        position: absolute;
        width:	33.5875em;
        height:	32.525em;
        left: 19.4375em;
        top: 18.0625em;
        /* z-index: 1; */
        background: #CDA253;
        padding: 2em 0 4em 0;
    }

    .location-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .address-heading {

        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size:	1.375em;
        margin: .2em 0 .2em .2em;
        color: #F3F3F3;
    }

    .address {

        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.125em;
        line-height: 1.4375em;
        padding: 0 0 3em ;
        text-align: center;
        color: #F3F3F3;
    } 
    
    .rockMic-Img {
        position: absolute;
        width: 23.0625em;
        height: 25.125em;
        left: 45.5em;
        top: 22.75em;
        filter: drop-shadow(4px 0px 45px rgba(255, 168, 0, 0.15)) drop-shadow(-5px 4px 44px rgba(0, 0, 0, 0.44));
        z-index: 5;
    }

                 /* FOOTER */
     footer {
        text-align: center;
        background: #F3F3F3;
    }

    .handlesContainer {
        margin: 2em 0;
    }

    .mediaIcon {
        background: #CDA253;
        border-radius: 50%;
        padding: .35em;
        margin: 0 1em;
    }

    /* .SocialMedia {
        width: .8em;
        margin-bottom: .2em;
    } */

    .facebook {
        width: 1.2em;
        padding: 0 .2em 0 .1em;
    }

    .SocialMedia{
        width: 1.2em;
        padding: 0 0 0 .2em;
    }

    .rights-reserve {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: .8em;
        line-height: 1.0625em;
        color: #000000;
    }

    .copyright {
        font-size: 1em;
    }
 

}  

@media only screen   and (min-width: 2560px) {
    
    .headerNav {
        background: #0D052E;
        position: fixed;

    }

    .psmLogo {
        width: 5em;
        height: 4em;
        margin: 2em;
    }

    nav .navbar-nav li a {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: normal;
        font-size: 1.7em;
        color: #FFFFFF;
        margin: 1em 0 1.5em 10em;
        /* padding: 0; */
    }

    .navLink {
        margin-left: 20em;
    }

                         /* CAROUSEL SECTION */
        
     .carousel-inner {
        display: inline-block;
        position: relative;
    }

    .carousel-inner {
        padding-top: 43.25%;
        display: block;
        content: "";
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;

        background: no-repeat right right scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: left;
    }

    .carousel-item:after {
        content:"";
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        /* box-shadow: inset 0 0 0 125em, rgba(13, 5, 46, 0.11); */
        background: linear-gradient(to right,  #0D052E 5.23%, rgba(13, 5, 46, 0.9) 38.97%, rgba(13, 5, 46, 0.11) 67.73%, rgba(13, 5, 46, 0) 92.44%); 
        background-position: left;
        }

    .carousel-img {
        width: 100%;
    }

    .caption {
        position: absolute;
        top: 50%;
        right: 30%;
        left: 30%;
        transform: translateX(-50%) translateY(-50%);
        width: 50%;
        z-index: 1;
        margin-top: 4em;
        text-align: right;
    }

    .caption h1 {
        margin-bottom: 1.4375em;
        font-family: 'Norican';
        font-style: normal;
        font-weight: normal;
        font-size: 10em;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .caption button {
        margin: 0 12em 0 0;
        padding: .2em 1em;
        font-size: 3em;
        background: #CDA253;
    }  

                     /* school description */
	
	.SchoolDescriptionDesktopView {
		background: #F3F3F3;
	}

  .descritionDesktop {
		display: flex;
		flex-direction: row;
		padding: 10em;

	}

	.school-description{
		display: none;
	}

	.violin-img {
		height: 55.8125em;
		width: 50.0625em;
	}

	.allDescription {
		margin-top: 1em;
    }

    .descritionDesktop {
        padding: 10em 29em;
    }
    
    .school-name {
        font-family: 'Milonga', cursive;
        text-align: center;
        font-size: 3em;
        font-style: normal;
        font-weight: normal;
        line-height: 1.8em;
        letter-spacing: 0.11em;
        color: #CDA253;
    }

	.about-school {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8em;
        line-height: 2em;
        color: #000000;
    }

                     /* Music-classes */

      .training-classes {

        text-align: center;
        padding-top: 3em;
    }	
        
    .classes {
        
        font-family: 'Milonga', cursive;
        font-size: 3.5em;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.11em;
        color: #CDA253;
        
    }
        
    .training-niche {
        
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2em;
        line-height: 3.625em;
        letter-spacing: 0.11em;
        color: #000000;
        padding: 0 2em;
        
    }
        
    .music-instruments {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35.75em, 1fr));
        padding: 0 5em;
    }
        
    .instrument {
        width: 10.5067em;
        margin-top: 4em;	
        
    }
        
    .instrument-container {
        text-align: center;
        justify-content: center;
        border:  0.125em solid #CCCCCC;
        border-radius: 50%;
        width: 20.625em;	
        height: 20.625em;
        margin: 0 0 0 4em;
    }
        
    .musical-text {
        margin: 0 4em;
    }
        
    .instrument-text {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.7em;
        line-height: 2em;
        text-align: center;
        padding: 0 1em;
    }

                    /* Tutors-Section */

     .Tutors-section {

        background: #F5F4F4;
        padding: 2em 1em 1em 1em;
    }

    .meetTutors {
        text-align: center;
    }

    .meetTutors h6 {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 3em;
        margin-top: 1em;
    }

    .pictures {
        width: 30em;
        margin-left: -2em;
    }

    .tutors-description {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
        grid-gap: 3.125em;
        text-align: center;
        margin: 3em;
        padding: 3em;
    }
    
    .name {
        font-family: 'Krub' sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 2em;
        /* margin-top: .1em; */
        text-transform: uppercase;
        color: #000000;
    }
    
    .duty {
        font-family: 'Krub' sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 1.5em;
        color: #000000;
    } 
    
    .fullBio-pageLink {
        text-align: center;	
    }
    
    .bio {
        font-family: 'Milonga', cursive;
        color: #CDA253;
        font-style: normal;
        font-weight: normal;
        font-size: 1.8em;
        letter-spacing: 0.11em;
        text-decoration: none;
    }

                        /* CONTACT SECTION */
  
    .contact {

        position: relative;
        background:url(./imgs/group_pics.png);
        box-shadow: inset 0 0 0 100em rgba(25, 39, 62, 0.88);
        background-size: cover;
        background-position: cover;
        background-blend-mode: overlay;
        text-align: center;
        min-height: 100em;
        /* padding: 5em 0; */
    } 

    .contactHead-container {
        margin-top: 1em;
    } 

    .contact-heading {

        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 3.5em;
        letter-spacing: 0.11em;
        color: #CDA253;
        padding-top: 4em;
        
    }

    .music-love{
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 2em;
        line-height: 1em;
        color: #F5F4F4;
        margin-bottom: 2em;

    }

    .location {
        position: absolute;
        width:	58.5875em;
        height:	54.525em;
        left: 35.4375em;
        top: 35.0625em;
        /* z-index: 1; */
        background: #CDA253;
        padding: 2em 0 4em 0;
    }

    .location-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .address-heading {

        font-family: 'Milonga', cursive;
        font-style: normal;
        font-weight: normal;
        font-size:	2em;
        margin: .2em 0 .2em .2em;
        color: #F3F3F3;
    }

    .address {

        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.825em;
        line-height: 1.4375em;
        padding: 0 0 3em ;
        text-align: center;
        color: #F3F3F3;
    } 
    
    .rockMic-Img {
        position: absolute;
        width: 37.0625em;
        height: 39.125em;
        left: 75.5em;
        top: 39.75em;
        filter: drop-shadow(4px 0px 45px rgba(255, 168, 0, 0.15)) drop-shadow(-5px 4px 44px rgba(0, 0, 0, 0.44));
        z-index: 5;
    }

                         /* FOOTER */
    footer {
        text-align: center;
        background: #F3F3F3;
    }

    .psmLogoFooter {
        width: 10em;
    }

    .handlesContainer {
        margin: 2em 0;
    }

    .mediaIcon {
        background: #CDA253;
        border-radius: 50%;
        padding: 1em;
        margin: 0 1em;
    }

    .facebook {
        width: 1.5em;
        padding: 0 .2em 0 .1em;
    }

    .SocialMedia{
        width: 1.5em;
        padding: 0 0 0 .2em;
    }

    .rights-reserve {
        font-family: 'Krub', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5em;
        line-height: 1.0625em;
        color: #000000;
    }

    .copyright {
        font-size: 1.2em;
    }

}